@CHARSET "UTF-8";
th,td{
	padding:10px;
	font-size: 20;
	}
th{
	text-align:right;
	font-weight:normal;
	}
.box{
	width:800px;
	margin-left:20px;
	background-color:#f6f6f6;
	}
h1{
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:40px;
	padding-bottom:15px;
	border-bottom:2px solid #8fc629;
	}
h2{
	font-size:18px;
	font-weight:normal;
	padding:10px;
	}

form{
	padding-left: 68px;
}
textarea{
	width:250px;
	height:100px;
	}